body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #d9534f;
}

#container {
    margin: 40px auto;
    max-width: 500px;
    padding: 10px;
}

@media (min-width: 600px) {
  #container {
    border: 1px dotted grey;
  }
}

button {
	background-color: #d9534f;
	color: white;
	border-color: #d43f3a;
	border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
}

input {
    width: 80%;
    font-size: 14px;
}

img {
    margin: 0 10px 0 20px;
}

a {
    color: #d9534f;
}

#footer {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}